{% extends "default/layout.html" %}

{% block content %}
    <div class="row justify-content-center mt-5" id="headline">
        <span class="text-info h3">{{ title }}</span>
    </div>
    <div class="row data-container mt-3 content-min-height"></div>
    <div class="row justify-content-center my-5" id="demo"></div>
{% endblock %}

{% block footscript %}
    <script>
    $(window).ready(function() {
        var galleryPage = '{{ galleryPage }}';
        var galleryImage = '{{ galleryImage }}';

        var template = function(data) {
            var html = '';
            $.each(data, function(index, item) {
                var galleryImagePath = item.replace(galleryPage, galleryImage);
                html += '<div class="col-6 col-md-3 col-lg-2 text-center p-1">';
                html += `<a href="${item}">`;
                html += `<img class="img-fluid" src="${galleryImagePath}">`;
                html += `<p>${item}</p>`;
                html += '</a></div>';
            });
            return html;
        };
        $('#demo').pagination({
            dataSource: {{ galleryList | safe }},
            pageSize: 24,
            showNavigator: true,
            formatNavigator: 'Total <span class="text-info h5"><%= totalNumber %></span> Gallery(s)',
            callback: function(data, pagination) {
                var dataContainer = $(".data-container");
                var html = template(data);
                dataContainer.html(html);
            }
        })
    });
    </script>
{% endblock %}
